.TopComponents{
    display: flex;
    width: 100.5vw;
    height: fit-content;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    border-top: .5rem solid green ;
}
.TopComponents button{
    border: 1px solid orange;
    border-radius: .25rem;
    color: orange;
    background-color: green;
    box-shadow: 0 0 1rem  -5px black;
}
.TopComponents > div {
    width: 33%;
}

.leftContents > button {
    font-size: 1.1rem;
    width: fit-content;
    padding: .2rem;;
    font-weight: 800;
    margin-left: .5rem;
}
.leftContents > h3{
    color: #aa330ed8;
    display: flex;
    margin-top: .5rem;
    margin-left: .5rem;
}
.leftContents > h3 > .goldIconWrapper{
    position: relative;
    align-items: center;
    justify-content: center;
}
.leftContents > h3 > .goldIconWrapper > .gold{
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 25);
    border-radius: 50%;
    margin-left: .5rem;
    z-index: -3;
    color: green;
}
.leftContents > h3 > .goldIconWrapper > .gold:nth-of-type(2){
    position: absolute;
    background-color: rgb(155, 155, 19);
    top: .5rem;
    z-index: -2;
}
.middleContents{
    display: flex;
    justify-content: center;
    align-items: end;
}
.middleContents > h2 {
    color: #aa330ed8;
    font-size: 2rem; 
    text-align: center;
}

.rightContents{
    display: flex;
    flex-direction: column;
}
.rightContents > button{
    margin-left: auto;
    height: fit-content;
    font-size: 1.1rem;
    padding: .2rem 1.5rem;
    margin-right: .5rem;
    font-weight: 800;

}