
.unShowWrapVerificationPrompt, .WrapVerificationPrompt{
    width: 100vw;
    height: 100vh;
}
.WrapVerificationPrompt{
    position: absolute;
    top: 0;
    display: flex;
    z-index: 2;
    background-color: #00000044;
    animation: WrapVerPro 1s linear;
}
.unShowWrapVerificationPrompt{
    display: none;
    animation: unWrapVerPro .25s .5s linear;
}
@keyframes WrapVerPro{  
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        background-color: #00000044;

    }
}
@keyframes unWrapVerPro{  
    from{
        opacity: 1;
        background-color: #00000044;
    }
    to{
        opacity: 0;
        background-color: transparent;
    }
}
.VerificationPrompt, .unShowVerificationPrompt{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Karla", sans-serif;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #d5f715;
    filter: drop-shadow(0 0 0.15rem black);
    padding: 1rem;
    border-radius: 1.2rem;
    font-weight: 800;
    z-index:3; 
}

.VerificationPrompt{
    display: flex;
    animation: showVerProm .5s ease-out;
}

.unShowVerificationPrompt{
    display: none; 
    animation: unShowVerProm .5s ease-in;
}

@keyframes showVerProm{
    from{
        top: 30%;
        left: 30%;
        scale: .5;
        opacity: 0;
    } to {
        top: 40%;
        left: 50%;
        scale: 1;
        opacity: 1;
    }

}

@keyframes unShowVerProm{
    from{
        display: flex;
        scale: 1;
        opacity: 1;
    } to {
        display: none;
        scale: .1;
        opacity: 0;
    }
}

.VerificationPrompt h1, .unShowVerificationPrompt h1{
    color: orange;
    text-shadow: 1px 1px 1px rgb(12, 77, 173);
    text-align: center;
    font-size: 1.4rem;
}

.VerificationPrompt .display_Flex, .unShowVerificationPrompt .display_Flex {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.display_Flex .options{
    font-family: "Karla", "Ubuntu";
    font-weight: 750;
    font-size: 1.4rem;
    width: 3.5rem;
    border: 1.5px solid orange;
    border-radius: .25rem;
    box-shadow: 0 0 5px 1px rgb(19, 117, 10);
    outline: none;
    background-color: green;
    transition: all .15s linear;
}

.display_Flex .options:hover{
    background-color: orange;
    columns: green;

}